@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .theme-default {
    /* Misc. */
    --google-font-1: 'Titan One', sans-serif;
    --google-font-2: 'Paytone One', sans-serif;

    /* LANDING PAGE */
    --bg-color-landing-page: #0c0c0c;
    --bg-color-landing-page-entry-button: #dc2626;
    --bg-color-landing-page-entry-button-hover: #b91c1c;


    /* NAV BAR */
    --bg-color-navbar-button-primary: rgba(0, 0, 0, 0);
    --bg-color-navbar-button-primary-hover: #272729;

    --bg-color-navbar-button-secondary: rgba(0, 0, 0, 0);
    --bg-color-navbar-button-secondary-hover: #272729;

    --bg-color-navbar-button-primary-selected: #dc2626; 
    --bg-color-navbar-button-primary-selected-hover: #b91c1c;

    --bg-color-navbar-button-secondary-selected: #3b82f6; 
    --bg-color-navbar-button-secondary-selected-hover: #2563eb;


    /* General BACKGROUND */
    --bg-color-primary: #0c0c0c;
    --bg-color-primary-inset: #080808;
    --bg-color-secondary: #020202;
    --bg-color-secondary-inset: #020202;

    --bg-color-primary-line: #454545;
    --bg-color-primary-inset-line: #454545;

    --bg-color-secondary-line: #454545;
    --bg-color-secondary-inset-line: #454545;



    /* SCROLLBAR */
    --bg-color-scroll-bar: #4d4d4d;
    --bg-color-scroll-bar-hover: #4d4d4d;
    --bg-color-scroll-bar-track: rgba(47, 47, 51, 0.7);

    --scroll-bar-width: 8px;



    /* General BUTTONS */
    --bg-color-button-primary: #181817;
    --bg-color-button-primary-hover: #272729;



    /* HEADING config */
    --text-color-heading: white;
    --text-color-heading-muted: gray;
    --text-color-sub-heading: white;
    --text-color-sub-heading-muted: gray;



    /* General TEXT */
    --text-color-primary: #e3e3e3;

    --text-color-hyperlink: #d58eff;
    --text-color-hyperlink-hover: #c874f9;

    --text-color-muted: #959595;
    --text-color-error: red;


    /* LOGO */
    --text-color-logo-first-half: var(--bg-color-secondary);
    /* --text-color-logo-second-half: #ce9454; */
    /* --text-color-logo-second-half: black; */
    --text-color-logo-second-half: white;

    --shadow-color-logo-first-half-hover: #ffffff;
    --shadow-color-logo-second-half-hover: #ffffff;
    
    --shadow-color-logo-first-half: white;
    --shadow-color-logo-second-half: white;

    /* LOGO - Default shadow */
    --drop-shadow-logo-first-half: 0 0 1px var(--shadow-color-logo-first-half);
    --drop-shadow-logo-second-half: 0 0 1px var(--shadow-color-logo-second-half);

    /* LOGO - Shadow on hover */
    --drop-shadow-logo-first-half-hover: 0px 0px 2px var(--shadow-color-logo-first-half-hover);
    --drop-shadow-logo-second-half-hover: 0px 0px 10px var(--shadow-color-logo-second-half-hover);



    /* FOOTER */
    --text-color-footer-heading-primary: orange;



    /* SEARCH BAR config */
    --bg-color-search-bar: #404049;
    --bg-color-search-bar-dropdown: #404049;
    --bg-color-search-bar-result: #404049;
    --bg-color-hover-search-bar-result: #33333b;
    --bg-color-search-bar-result-icon: rgba(0, 0, 0, 0);

    --bg-color-search-bar-scroll-bar-thumb: #6f6f7a;
    --bg-color-search-bar-scroll-bar-thumb-hover: #6f6f7a;
    --bg-color-search-bar-scroll-bar-track: rgba(47, 47, 51, 0.7);

    --search-bar-scroll-bar-width: 5px;
    --search-bar-scroll-bar-radius: 10px;

    --text-color-search-bar-result: white;
    --text-color-search-bar-input: #d9d8df;
    --text-color-search-history-result: #dbdbdb;

    --text-color-search-bar-result-match-word: #fff7b9;
    --text-color-search-bar-result-match-first: #d58eff;
    --text-color-search-bar-result-match-any: #a7ff73;

    --text-color-search-bar-placeholder: var(--text-color-muted);
  }


  /* 
    sleek, transparent search bar that blends in with background 
  */
  .search-bar-sleek {
    --bg-color-search-bar: #24242400;
    --bg-color-search-bar-dropdown: #404049;
    --bg-color-search-bar-result: #bdbdbd00;
    --bg-color-hover-search-bar-result: #3f3f3f;

    --bg-color-search-bar-scroll-bar-thumb: rgb(70, 70, 70);
    --bg-color-search-bar-scroll-bar-thumb-hover: rgb(70, 70, 70);

    --bg-color-search-bar-scroll-bar-track: rgba(47, 47, 51, 0.7);

    --search-bar-scroll-bar-width: 5px;
    --search-bar-scroll-bar-radius: 10px;

    --text-color-search-bar-result: white;
    --text-color-search-bar-input: #d9d8df;
    --text-color-search-history-result: #dbdbdb;

    --text-color-search-bar-result-match-word: #fff7b9;
    --text-color-search-bar-result-match-first: #d58eff;
    --text-color-search-bar-result-match-any: #a7ff73;

    --text-color-search-bar-placeholder: #474747;
  }


  /* DEFAULT INPUT */
  input {
    all: unset;
  }

  input::placeholder {
    color: var(--text-color-muted);
  }

  
  /* WIREFRAME CLASS */
  .wireframe * {
    outline: 1px solid red !important;
  } 


  /* DEFAULT SCROLLBAR */
  ::-webkit-scrollbar {
    width: var(--scroll-bar-width);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--bg-color-scroll-bar-track); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    /* background: #5f677e;  */
    background: var(--bg-color-scroll-bar);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-scroll-bar); 
  }



  /* CUSTOMIZED SCROLLBAR FOR SEARCH COMPONENT */
  .custom-search-bar ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 15px rgba(47, 47, 51, 0.7);  */
    box-shadow: inset 0 0 15px var(--bg-color-search-bar-scroll-bar-track);
    border-radius: 10px;
  }

  .custom-search-bar ::-webkit-scrollbar {
    width: var(--search-bar-scroll-bar-width);
  }

  .custom-search-bar ::-webkit-scrollbar-thumb {
    /* background: #5f677e;  */
    background: var(--bg-color-search-bar-scroll-bar-thumb);
    border-radius: var(--search-bar-scroll-bar-radius);
  }

  .custom-search-bar ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-search-bar-scroll-bar-thumb-hover); 
  }

  .custom-search-bar ::placeholder {
    color: var(--text-color-search-bar-placeholder);
  }


  /* CUSTOMIZED CSS FOR WIZARD101 DESCRIPTIONS */
  .wiz-description-box {
    color: rgb(194, 194, 194);
    /* font-weight: lighter; */
  }

  .wiz-description-box p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .wiz-description-box ul {
    margin-top: 0.6rem;
    margin-left: 1rem;
  }

  .wiz-description-box a {
    text-decoration: underline;
  }

  .wiz-description-box ul li {
    margin-top: 0.3rem;
    margin-left: 1rem;
    list-style-type: circle;
  }

  .wiz-description-box .infobox-plain-heading {
    font-weight: bold;
    margin-bottom: 0.6rem;
    margin-top: 0;
  }
}

