@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --text-small: 1rem;
  }

  .theme-dark {
    --logo-font: 'Titan One', sans-serif;
    --logo-font-2: 'Paytone One', sans-serif;

    --bg-color-primary: #2a2a32;
    --bg-color-secondary: #1c1d25;

    /* --color-logo-primary: #94b8c7; */
    --color-logo-primary: #a7a4ab;
    --color-logo-secondary: #f36161;
    --color-logo-third: #ce9454;

    --bg-color-search-bar: #404049;
    --bg-color-search-bar-list: #404049;
    --bg-color-search-bar-result: #404049;
    --bg-color-hover-search-bar-result: #33333b;

    --text-color-href-primary: #cc7aff;
    --text-color-search-bar-result: white;
    --text-color-search-bar-input: #d9d8df;
    --text-color-search-history-result: #dbdbdb;

    --button-color-primary: #404049;
    --button-color-secondary: blue;
    --button-hover-color-primary: #505059;

    --text-color-heading-primary: #d1d1d1;
    --text-color-heading-muted: #959595;

    --text-color-primary: #e3e3e3;
    --text-color-secondary: orange;
    --text-color-muted: #959595;
    --text-color-error: red;
  }

  input {
    all: unset;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color-primary);
  }

  .wireframe * {
    outline: 1px solid red !important;
  } 

    /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px rgba(47, 47, 51, 0.7); 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5f677e; 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5f677e; 
  }
}

